[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/rm-hull/vim-clojure-static.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/paredit.vim"]
	path = .vim/bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-slamhound"]
	path = .vim/bundle/vim-slamhound
	url = https://github.com/guns/vim-slamhound.git
[submodule ".vim/bundle/cypher-vim-syntax"]
	path = .vim/bundle/cypher-vim-syntax
	url = https://github.com/neo4j-contrib/cypher-vim-syntax.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/pipe2eval"]
	path = .vim/bundle/pipe2eval
	url = https://github.com/zweifisch/pipe2eval.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/rm-hull/vim-fireplace.git
[submodule ".vim/bundle/vim-clojure-highlight"]
	path = .vim/bundle/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight.git
[submodule ".vim/bundle/vim-sexp"]
	path = .vim/bundle/vim-sexp
	url = https://github.com/guns/vim-sexp
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/unicode.vim"]
	path = .vim/bundle/unicode.vim
	url = https://github.com/chrisbra/unicode.vim
[submodule ".vim/bundle/vim-eastwood"]
	path = .vim/bundle/vim-eastwood
	url = https://github.com/venantius/vim-eastwood.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule ".vim/bundle/vim-cljfmt"]
	path = .vim/bundle/vim-cljfmt
	url = https://github.com/venantius/vim-cljfmt.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
